@import-normalize;
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@layer components {
  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 mx-auto
    bg-gray-400 hover:bg-green-600 dark:bg-gray-800 text-green-500 hover:text-white 
    hover:rounded-xl rounded-3xl transition-all duration-300 ease-linear cursor-pointer shadow-lg
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 
    text-white bg-gray-900 text-xs font-bold
    rounded-md shadow-md transition-all duration-300 scale-0 origin-left
  }

  .sidebar-hr {
    @apply bg-gray-200 dark:bg-gray-800 border border-gray-200 dark:border-gray-800 mx-2
  }

  .channel-bar {
    @apply w-80 h-auto m-0 ml-16 bg-gray-200 dark:bg-gray-800 overflow-hidden
  }

  .channel-block {
    @apply flex items-center justify-center h-16 m-0 p-0
  }

  .channel-block-text {
    @apply text-lg tracking-wider font-bold
    text-gray-600 dark:text-gray-400
    mr-auto my-auto ml-4 align-middle
  }

  .channel-container {
    @apply flex flex-col items-center justify-start p-1 m-0
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out
  }

  .dropdown-header {
    @apply flex flex-row items-center justify-evenly mx-0 text-gray-500 cursor-pointer
  }

  .dropdown-header-text {
    @apply text-gray-500 text-opacity-90 text-lg font-semibold cursor-default
  }

  .dropdown-header-text-selected {
    @apply text-blue-500 text-opacity-90 text-lg font-bold
  }
  
  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly mt-1 mr-auto ml-2 transition duration-300 ease-in-out
    cursor-pointer;
  }

  .dropdown-selection-text {
    @apply text-gray-500 font-semibold tracking-wide
    mr-auto transition duration-300 ease-in-out
  hover:text-pink-500 dark:hover:text-gray-500 cursor-pointer
  }
}